{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Testing Page
    </h1>
    <p>
        test: {% totalposts %}
    </p>
    {% comment %} <p>
        {% totalposts as tp %}{{tp}}
    </p> {% endcomment %}
    {% comment %} <p>
        {% for post in posts %}
            {{post}}
        {% endfor %}
    </p> {% endcomment %}
    <p>
        test2: {% posts as ps %}
        <br><br>
        {% for post in ps %}
            {{post}}
            <br><br>
        {% endfor %}
    </p>
</body>
</html>